@import './reset.scss';

#home {

}

#chatRoom {
  width: 100%;
  header {
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    background-color: pink;
    width: inherit;
    height: 50px;
    button {
      height: inherit;
      width: 50px;
      &.movePrev img {
        width: 30px;
        height: 30px;
      }
    }
    h2 {
      display: inline-block;
      line-height: 50px;
      height: inherit;
      font-weight: 500;
      font-size: 16px;
    }
  }
  .chatRoomBody {
    background-color: gray;
    padding: 56px 5px;
    height: calc(100vh - 100px);
    overflow: auto;
    scroll-behavior: smooth;
  }
  footer {
    position: fixed;
    right: 0;
    bottom: 0;
    width: inherit;
    background-color: white;
    .sendMessageContainer {
      display: flex;
      min-height: 40px;
      width: inherit;
      .sendMessageInput {
        background-color: white;
        outline: none;
        width: 72%;
        margin: 14px;
        font-size: 14px;
      }
      button {
        height: inherit;
        width: 40px;
        &.moodPaletteBtn {
          div {
            margin: auto;
            width: calc(100% - 16px);
            height: calc(100% - 16px);
            background-color: gray;
          }
        }
        &.sendMessageBtn {
          margin-left: auto;
        }
        &.hashTagBtn img{
          width: 30px;
          height: 30px;
          margin: 4px 0 0 4px;
        }
      }
    }
    .optionContainer {
      width: inherit;
      background-color: white;
    }
  }
}

#chatMessageGroup {
  display: flex;
  padding: 10px 0;
  width: 100%;
  font-size: 14px;
  .profileImg {
    vertical-align: top;
    width: 35px;
    height: 35px;
    border-radius: 10px;
    background-color: pink;
  }
  .chatMessageGroupBody {
    display: inline-block;
    margin: 0 6px;
    width: inherit;
    .nickname {
      max-width: 60%;
      font-size: 12px;
    }
    .message {
      display: inline-block;
      background-color: white;
      border-radius: 10px;
      padding: 6px;
      margin-top: 6px;
      word-break: break-all;
      max-width: 60%;
      font-size: 14px;
    }
    .date {
      vertical-align: bottom;
      margin: 0 6px;
      font-size: 12px;
    } 
  }

  &.receive {
    .message {
      background-color: white;
    }
  }

  &.send {
    .profileImg {
      display: none;
    }
    .nickname {
      display: none;
    }
    .chatMessageGroupBody ol li {
      display: flex;
      flex-direction: row-reverse;
      .message {
        background-color: yellow;
      }
    }
    .date {
      margin-top: auto;
    }
  }
}
#chatMoodPalette {
  background-color: white;
}